# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/
ENV/
.env.*

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# API Keys and sensitive files
*.env
*.key
*.secret
meu_banco_vetorial/index.faiss
meu_banco_vetorial/index.pkl
